<%= stylesheet_link_tag 'index', media: 'all' %>
<style>
@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');
</style> 
<p id="notice" class="text-uppercase text-success"><%= notice %></p>

<header class="header-container container-fluid bg-light d-flex justify-content-center">
  <div class="logo-container">
    <%= link_to image_tag("https://logoipsum.com/logo/logo-5.svg"), login_path, class:"logotipo"%>
  </div>
</header>

<div id="main-banner">
  <img src="https://images.unsplash.com/photo-1414235077428-338989a2e8c0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80" alt="Welcome to Resto">
  <div class="banner-text-cont">
    <h1>Restaurant Menu</h1>
    <p class="text-light">Los mejores platillos, para los mejores paladares</p> 
  </div>
</div>
        
<div class="wrapper">
  <section id="home-menu">
    <h2>Menu</h2>
  </section>
</div>

<div class="wrapper1">

  <h1 class="contenth1">Featured Articles</h1>
<h2 class="contenth2">All their equipment and instruments are alive.</h2>

<div class="blocks">
  <div class="block">
    <img src="http://15zine.cubellthemes.com/wp-content/uploads/2015/03/15zine-v3-4-360x490.jpg" alt="" />
    <div class="info">
      <div class="title">Lorem ipsum dolor.</div>
      <div class="date">APRIL 3, 2015</div>
    </div>
  </div>
  <div class="block">
    <img src="http://15zine.cubellthemes.com/wp-content/uploads/2015/02/15zine-v3-11-360x490.jpg" alt="" />
    <div class="info">
      <div class="title">Lorem ipsum dolor sit.</div>
      <div class="date">MARCH 7, 2015</div>
    </div>
  </div>
</div>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Username</th>
      <th>Password digest</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.username %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%# Here is the new gallery %>
<% @menus.each do |p|%>
  <% if p.desert.attached? %>
<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-md-6">
      <div class="product-desc w-100 d-flex flex-column align-items-center">
        <img src="<%=(url_for(p.desert))%>" class="image">
        <h1>Deserts</h1>
      </div>
    </div>
    <div class="col-12 col-md-6">
      <div class="product-desc w-100 d-flex flex-column align-items-center">
        <img src="<%=(url_for(p.breakfast))%>" class="image">
        <h1>Breakfast</h1>
      </div>
    </div>
    <div class="col-12 col-md-6">
    </div>
    <div class="col-12 col-md-6">
    </div>
    <div class="col-12 col-md-6">
    </div>
  </div>
</div>
<% end %>
<% end%>

<%= link_to 'New User', new_user_path %>
<br>
<%= link_to 'cambiar menú', login_path , class: 'link text-uppercase anchor_b' %>
<br>
<%= link_to 'Poner fotos al menu', new_menu_path %>